@using RaceTimer.Shared.Models
@inject RaceTimerClientApp.Web.Client.Services.RaceStateService State
@code {
    [Parameter]
    public Guid RaceId { get; set; }

    private Race? race;
    private List<Participant> allParticipants = new();
    private Guid selectedParticipantToAdd;

    protected override void OnParametersSet()
    {
        if (State.Races.TryGetValue(RaceId, out var r))
        {
            race = r;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        allParticipants = (await State.GetAllParticipantsAsync()).ToList();
    }

    private async Task AddParticipant()
    {
        if (selectedParticipantToAdd == Guid.Empty) return;
        await State.AssignParticipantToRaceAsync(RaceId, selectedParticipantToAdd);
    }
}

<div>
    @if (race is null)
    {
        <p>Race not loaded</p>
    }
    else
    {
        <h3>@race.Name</h3>
        <p>Start: @race.StartTimeUTC</p>
        <p>Finish: @race.FinishDateTimeUTC</p>
        <h4>Participants</h4>
        <ul>
            @foreach(var p in race.RaceParticipants)
            {
                <li>@p.Participant.DisplayName (Nr: @p.ParticipantNr) - Finish: @p.FinishDateTimeUTC</li>
            }
        </ul>
        <div>
            <select @bind="selectedParticipantToAdd">
                <option value="">select participant to add</option>
                @foreach(var p in allParticipants)
                {
                    <option value="@p.Id">@p.DisplayName</option>
                }
            </select>
            <button class="btn btn-sm btn-primary" @onclick="AddParticipant">Add</button>
        </div>
    }
</div>
