@using BlazorBootstrap
@using RaceTimerApp.Shared.Helpers
@using RaceTimerApp.Shared.Models

<div style="display:flex; flex-direction:column"> 
    <div style="display:flex; flex-direction:row; justify-content:space-between">

        <span class="participant-number">#@RaceParticipant.ParticipantNr</span>
        <span class="participant-name">@RaceParticipant.Participant?.DisplayName</span>
        <span class="badge badge-lg @(RankingEntry.CompletelyFinished ? "bg-success" : "bg-info")" style="align-content:center; margin:5px">

            @RankingEntry.RunTime.FormatShort()

        </span>
    </div>

    <Progress>
        <ProgressBar Label="@(RankingEntry.CompletelyFinished ? "Fertig" : "")"  
            Color="@(RankingEntry.CompletelyFinished ? ProgressColor.Success : ProgressColor.Primary)" 
            Width="RankingEntry.ProgressPercent" />
    </Progress>

    <div style="display:flex; flex-direction:row; justify-content:space-between">
        @foreach(RaceTimePoint raceTimePoint in RaceTimePoints)
        {
            <div style="display:flex; flex-direction:column; font-size:small; align-items:center; margin:2px; padding:2px">

                <p style="margin:0px; padding:0px">@raceTimePoint.DisplayName</p>
                @if (raceTimePoint.Index > 1 && RankingEntry.SplitTimes[raceTimePoint.Index].HasValue)
                {
                    <p style="color:darkolivegreen; margin:0px; padding:0px">@RankingEntry.SplitTimes[raceTimePoint.Index].FormatShort()</p>
                    @if (raceTimePoint.HasPenaltyTime)
                    {
                        <p style="color:orangered; margin:0px; padding:0px">+@RankingEntry.PenaltyTimes[raceTimePoint.Index].FormatShort()</p>
                    }
                }
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public required RaceParticipant RaceParticipant {get; set;}
    [Parameter]
    public required RankingEntry RankingEntry { get; set; }
    [Parameter]
    public required List<RaceTimePoint> RaceTimePoints { get; set; }


    /****
<!-- Progress Bar mit Zeitpunkten -->
     * <div class="progress-container">
    <div class="progress-bar-wrapper">
        @foreach (var timePoint in race.RaceTimePoints.OrderBy(tp => tp.Index))
        {
            var reached = HasReachedTimePoint(participant, timePoint, race);
            var timePointTime = GetTimePointTime(participant, timePoint, race);
            <div class="progress-dot @(reached ? "reached" : "pending")"
                 title="@timePoint.DisplayName @(timePointTime.HasValue ? timePointTime.Value.ToLocalTime().ToString("G") : "")">
            </div>
        }
    </div>
</div>
     * 
     * 
     * */
}
